
*--------------------------------------------------------------
1.3 Banner Section
--------------------------------------------------------------*/
.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hero-section {
	background: url(../css/images/placeholder.png) 100% no-repeat;
	background-size: cover;
	background-position: top center;
	align-items: center;
	/*display: flex;*/
	position: relative;
    margin-top: 64px;
    padding: 50px 0px;
}
.hero-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.hero-text{
	width: 50%;
}


.hero-text p {
	font-size: 20px;
	font-weight: 400;
	line-height: 26.64px;
	color: #000;
	margin-top: 10px;
}
.hero-form {
	background: #fff;
	padding: 32px;
	border-radius: 16px;
	width: 50%;
	margin-left: 20px;
	box-shadow: 0px 6px 21px 10px #0046960F;
}

.field-name {
	display: flex;
	flex-flow: row wrap;
	row-gap: 16px;
}
.field-name input {
	width: 48.5%;
	border: 1px solid #CED4DA;
	border-radius: 4px;
	padding: 14px;
	/*    margin-right: 16px;*/
}



/*
.hero-form button {
	padding: 11.5px 40px;
	background-color: var(--t_color);
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20.83px;
	text-transform: uppercase;
	border: 0px;
	border-radius: 40px;
	margin-top: 20px;
	font-family: var(--font);
}
.hero-form input,
.hero-form select {
	font-size: 12px;
}


.banner-form input {
	padding: 10px;
}

.banner-form .col-lg-6,
.banner-form .col-lg-12 {
	padding-right: 8px;
	padding-left: 8px;
}
.location-form-btn{
	padding-left: 0px !important;
    padding-right: 0px !important;
}*/

.location-form-btn{
	padding-left: 20px !important;
    padding-right: 20px !important;
    }

.section-content h2 {
    position: relative;
    font-size: 36px;
    line-height: 1.2em;
    color: #303030;
    font-weight: 600;
}
.section-content p{
	font-size: 20px;
    font-weight: 400;
    line-height: 26.64px;
    color: #000;
    margin-top: 10px;
}
/*.about-content{
	display: flex;
	align-items: center;
}*/
.about-sec{
	padding: 50px 0px;
}

.message textarea{
	display: block;
    width: 100%;
    border: 1px solid #000;
    height: 100px;
    padding: 6px 12px;
    margin:5px;
}
.banner-form{
margin-top: 20px;
}
.banner-form input{
	margin: 5px;
    border: 1px solid #000;
    border-radius: 0px;
}
.bottom-form-btn{
	display: block;
    width: max-content;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 25px;
    text-align: center;
    background-color: #ed3237;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 10px 0px !important;
}
.bottom-form-btn:hover {
    background-color: #303030;
    color: #ed3237;
}
.grey-sec{
	background-color: #cccccc57;
}


@media (max-width: 767px) {

.hero-content {
    display: block;
}
.hero-text {
    width: 100%;
}
.hero-text h2, .hero-text p{
	text-align: center;
	}
	.hero-form{
		width: 100%;
		margin-left: 0px;
	}
	.about-img{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	    .section-content h2{
        font-size: 26px;
        text-align: center;
    }
    .section-content p{
    	text-align: center;
    }
    .message-text{
    text-align: center;
    justify-content: center;
    display: flex;
    }
}
